<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="UTF-8">
		<meta name="Author" content="">
		<meta name="Keywords" content="">
		<meta name="Description" content="">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<title>Image Merge</title>
	</head>
	<body>
		<form id="form" target="_blank" action="/" method="post" enctype="multipart/form-data">
			<label><input type="radio" name="append" value="+append" checked>가로</label>
			<label><input type="radio" name="append" value="-append">세로</label>
			<input type="file" name="images" accept="image/*">
			<input type="file" name="images" accept="image/*">
			<input type="file" name="images" accept="image/*">
			<input type="file" name="images" accept="image/*">
			<button type="button" onclick="fileCheck()">전송</button>
			<div>
				<input type="number" name="margin" value="30" min="1">
				<input type="number" name="quality" value="100" min="1" max="100">
				<select name="sharpen">
					<option value="0">기본</option>
					<option value="1">1</option>
					<option value="10">10</option>
				</select>
			</div>
		</form>
		<script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
		<script>
			function fileCheck(){
				var uploadSize = 0;
				$("input[name*='images']").each(function(){
					uploadSize += this.files.length;
				});
				if(uploadSize > 1){
					$("#form").submit();
				}
			}
		</script>
	</body>
</html>
